<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/nav.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="#">Venues</a>
        <div class="dropdown">
            <a href="#" class="dropbtn">Reservations</a>
            <div class="dropdown-content">
                <a href="#">Confirmed</a>
                <a href="#>Cancelled</a>
            </div>
        <a href="#">Sign Up</a>
        <a href="#">Login</a>
        <div class="dropdown">
            <a href="#" class="dropbtn">Account</a>
            <div class="dropdown-content">
                <a href="#">Edit</a>
                <a href="#">Logout</a>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="header">
            <h1>{{.Title}}</h1>
            <h2>{{.HeaderText}}</h2>
        </div>
    </div>
</body>
</html>
