<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="../static/css/venuelist.css">
    <link rel="stylesheet" href="../static/css/nav.css">
</head>
<body>

    <div class="navbar">
        <div class="navbar-left">
            <a href="/">Home</a>
            
            {{ if .IsAuthenticated }}
            <a href="/venue/listing">Venues</a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Reservations</a>
                <div class="dropdown-content">
                    <a href="/reservations">Confirmed</a>
                    <a href="/reservations/cancelled">Cancelled</a>
                </div>
            </div>
            {{ end }}
         </div>

        <div class="navbar-right">
            {{ if .IsAuthenticated }}
                <form action="/user/logout" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                    <button type="submit">Logout</button>
                </form>
            {{ else }}
                <a href="/user/signup">Sign Up</a>
                <a href="/user/login">Login</a>
            {{ end }}
        </div>
    </div>

    <div class="venue-header">
    <div class="header-text">
        <h1>{{.Title}}</h1>
    </div>
</div>

  {{if .Flash}}
        <div class="flash-message">
            {{.Flash}}
  </div>
  {{end}}

<<div class="venue-container">
    {{range .Reservation}}
    <div class="venue-card">
    
        <!-- Display venue name directly from the reservation -->
        <div class="venue-info">
            <span><strong>Venue:</strong> {{.VenueName}}</span>
        </div>

        <div class="venue-info">
            <span><strong>Date:</strong> {{.StartDate.Format "Jan 02, 2006"}}</span>
            <span><strong>Time:</strong> {{.StartTime.Format "15:04"}} - {{.EndTime.Format "15:04"}}</span>
        </div>

                <!-- Buttons Section -->
        <div class="venue-actions">
            <form action="/reservations/update/{{.ID}}" method="get" style="display: inline;">
                <button type="submit" class="update-btn">Update</button>
            </form>

        <form method="POST" action="/reservations/cancel/{{.ID}}" onsubmit="return confirm('Are you sure you want to cancel this reservation?');">
            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
            <button type="submit" class="cancel-btn">Cancel</button>
        </form>

        </div>
    </div>
    {{else}}
    <p>No confirmed reservations found.</p>
    {{end}}
</div>

</body>
</html>


