<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/sign.css">

</head>
<body>
   <div class="navbar">
        <div class="navbar-left">
            <a href="/">Home</a>
            
            {{ if .IsAuthenticated }}
            <a href="/venue/listing">Venues</a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Reservations</a>
                <div class="dropdown-content">
                    <a href="/reservations">Confirmed</a>
                    <a href="/reservations/cancelled">Cancelled</a>
                </div>
            </div>
            {{ end }}
         </div>

        <div class="navbar-right">
            {{ if .IsAuthenticated }}
                <form action="/user/logout" method="POST">
                <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                    <button type="submit">Logout</button>
                </form>
            {{ else }}
                <a href="/user/signup">Sign Up</a>
                <a href="/user/login">Login</a>
            {{ end }}
        </div>
    </div>

    <div class="grid-container">
        <div class="header">
            <h1>{{.Title}}</h1>
            <h2>{{.HeaderText}}</h2>
        </div>

        {{ if .FormErrors.default }}
            <div class="error">{{ .FormErrors.default }}</div>
        {{ end }}


        <!-- Sign-Up Form -->
        <div class="form-container">
            <form method="POST" action="/user/login" novalidate>
                <input type="hidden" name="csrf_token" value="{{ .CSRFToken}}">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required
                    value="{{index .FormData "email"}}"
                    class="{{if .FormErrors.email}}invalid{{end}}">
                {{with .FormErrors.email}}<div class="error">{{.}}</div>{{end}}

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Sign In</button>
            </form>

        </div>
    </div>
</body>
</html>
